@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4db7d;
  color: navy;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #1a2238;
  color: #ff6a3d;
  padding-left: 30px;
}
.navbar h1 {
  margin-left: 100px;
}

.links {
  margin-left: auto;
  padding-right: 100px;
}

.links a {
  margin: 0 16px;

  color: #ff6a3d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  color: navy;
}

.hike-preview {
  margin-bottom: 80px;
}

.hike-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

#hike-title {
  font-size: 2.5rem;
  margin-left: 40%;
  margin-bottom: 80px;
  color: #1a2238;
}

#delete-hike {
  display: block;
}

.hike-preview a {
  text-decoration: none;
}

fieldset {
  text-align: center;
}

.create label {
  display: block;
}

.create input,
.create textarea {
  width: 400px;
  margin-bottom: 20px;
}

.add-btn {
  margin-left: 40%;
  margin-top: 20px;
  padding: 15px;
  color: #ff6a3d;
  background-color: #1a2238;
  border-radius: 5%;
  font-size: 20px;
  cursor: pointer;
}

#img-label {
  margin-top: 20px;
}

.hike-details h2,
.hike-details p {
  color: navy;
}
