@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: coral;
  padding-left: 30px;
}
.navbar h1 {
  margin-left: 100px;
}

.links {
  margin-left: auto;
  padding-right: 100px;
}

.links a {
  margin: 0 16px;
  text-decoration: none;
}

.content {
  max-width: 600px;
  margin: 40px auto;
}

.hike-preview {
  margin-bottom: 80px;
}

.hike-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: navy;
}
